<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="localhost"
			 connectionString=""
			 providerName ="Ststem.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="DeleteHelpDesk" value="TRUNCATE TABLE helpDesk"/>
		<add key="DeletePrtg" value="TRUNCATE TABLE prtg"/>
		<add key="InsertHelpDesk" 
			 value="INSERT INTO helpDesk (#, Bedrijf, Title, [Naam verzoeker], Urgentie, [Tijd indienen verzoek], [Tijd sluiting], Status, Categorie, Subcategorie, [Type serviceverzoek] ,[Time to Respond], [Time to Repair], [Total Activities time])
			 VALUES(@#, @bedrijf,@title,@naam,@urgentie,@tijd_ind_verzoek,@tijd_sluiting,@status,@cate,@subcate,@tpye_service,@time_to_resp,@time_to_repair,@total_act_time)"
		/>
		<add key="InsertPrtg" value="INSERT INTO prtg (Apparaat, [Beschikbaarheid Stats], Percentage, Datum) VALUES (@value1, @value2, @value3, @value4)"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

